<h1>{{title}}</h1>

<div class="iced">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="disable_ripple">
          <mat-panel-title>
            <img src="assets\images\icedCoffee.png" alt="Iced Coffee">
            <a 
            class="button"
            routerLink="iced-coffee"  
            routerLinkActive="active"
            >Iced Coffees</a>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-iced-coffee> </app-iced-coffee>
        </mat-expansion-panel>
    </mat-accordion>
  </div>

  <hr/>

  <div class="hot">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="disable_ripple">
          <mat-panel-title>
            <img src="assets\images\hotCoffee.png" alt="Hot Coffee">
            <a 
            class="button"
            routerLink="hot-coffee"  
            routerLinkActive="active"
            >Hot Coffees</a>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-hot-coffee> </app-hot-coffee>
        </mat-expansion-panel>
    </mat-accordion>
  </div>

  <hr/>

  <div class="tea">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="disable_ripple">
          <mat-panel-title>
            <img src="assets\images\tea.png" alt="Tea Drinks">
            <a 
            class="button"
            routerLink="tea"  
            routerLinkActive="active"
            >Tea Drinks</a>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-tea> </app-tea>
        </mat-expansion-panel>
    </mat-accordion>
  </div>

  <hr/>

  <div class="dessert">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="disable_ripple">
          <mat-panel-title>
            <img src="assets\images\dessert.png" alt="Desserts">
            <a 
            class="button"
            routerLink="desserts"  
            routerLinkActive="active"
            >Desserts</a>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-desserts> </app-desserts>
        </mat-expansion-panel>
    </mat-accordion>
  </div>

  <hr/>

 

