<div class="container">

    <div class="company">
        <img src="assets\images\logo.png" alt="Company Logo">
        <h2>{{company}}</h2>
    </div>

    <hr/>
    <h1>{{ title }}</h1>

    <br>
    <div class="q1">
        <h2 class="questions">
             When will I Receive My Order?
        </h2>
        <p>
            You can be sure that you will receive the freshest coffee possible from our shop at Coffee Enthusiast. We will send our orders no later than 3 hours after you have placed your order with us.
        </p>
    </div>
    <hr/>

    <br>
    <div class="q2">
        <h2 class="questions">
            Do You Deliver Overseas?
        </h2>
        <p>
            Unfortunately due to the increasing complexity and Customs and Duty charge of crossing borders at the moment, we now only offer delivery to the Philippines until further notice.
        </p>
    </div>
    <hr/>

    <br>
    <div class="q3">
        <h2 class="questions">
            Can I Return My Order?
        </h2>
        <p>
            As coffee is perishable, we unfortunately don’t accept returns on roasted coffee. However, if there are any errors with your order or your coffee, contact us within an hour of receiving your order and we will do our best to help.
        </p>
    </div>
    <hr/>

    <br>
    <div class="q4">
        <h2 class="questions">
            Do You Offer Barista Training Courses?
        </h2>
        <p>
            At Coffee Enthusiast, we want to help businesses to grow and a barista training course can help your café or restaurant to get ahead of your competitors. Therefore, we offer a variety of different levels of training, as well as coffee knowledge classes. These are held at either our shop or your premises.
        </p>
    </div>
    <hr/>

    <br>
    <div class="q5">
        <h2 class="questions">
            How Can I Get In Touch?
        </h2>
        <p>
            Getting in touch with our experienced and friendly team is easy. You can either give us a call directly on 032 383 4639, or email our Information Manager at <a href="mailto:mackemzie0420@gmail.com" class="email-button"> mackemzie0420@gmail.com.</a>
        </p>
    </div>
    <hr/>

    <br><br><br><br>
    <p>
        If your query hasn’t been answered in our FAQs, don’t hesitate to contact our team directly and we are more than happy to answer any questions you may have about our coffee, shop or accessories!
    </p>

<br><br><br><br><br>
</div>