<hr/>
  <div class="desserts">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Classic Plain Bagel
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="des1">
        <img src="assets\images\des1.png" alt=" Classic Plain Bagel">
        <p>Coffee Enthusiast® Classic Plain Bagel is soft, chewy and thick Italian–style bagel, with a smear of cream cheese.</p>
      </div>
      </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="desserts">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Classic Brownie 
        </mat-panel-title>
      </mat-expansion-panel-header>
    <div class="des2">
      <img src="assets\images\des2.png" alt="Classic Brownie ">
      <p>Coffee Enthusiast® A Classic Brownie made with premium chocolate and cocoa, freshly harvested form Ivory Coast.</p>
    </div>
      </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="desserts">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Blueberry Muffins
        </mat-panel-title>
      </mat-expansion-panel-header>
    <div class="des3">
      <img src="assets\images\des3.png" alt="Blueberry Muffins">
      <p>Coffee Enthusiast® Blueberry Muffin is dotted throughout with sweet, juicy blueberries and a hint of lemon and dusted on top with sugar for a delightfully crunchy texture.</p>
    </div>
      </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="desserts">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Croissant Almonds
        </mat-panel-title>
      </mat-expansion-panel-header>
    <div class="des4">
      <img src="assets\images\des4.png" alt="Croissant Almonds">
      <p>Coffee Enthusiast® Croissant Almonds is enveloped in a flaky, buttery croissant, then topped with sliced almonds.</p>
    </div>
      </mat-expansion-panel>
  </mat-accordion>
</div>

<br><br> <br> <br>





