.desserts {
    font-family: 'Montserrat-Regular';
    margin-top: 40px;
    margin-left: 100px;
    width: 60%;
}

mat-panel-title {
    font-family: 'Montserrat-Bold';
    font-size: 22px;
}

mat-panel-title img {
    float: left;
    width: 10px;
}

h2 {
    font-family: 'Authentic Signature';
    font-size: 40px;
    padding-top: 20px;
    letter-spacing: 2px;
    padding-left: 30px;
}

p {
    font-family: 'Montserrat-Regular';
    text-align: justify;
}

img {
    float: left;
    width: 100px;
}

.des1 {
    display: flex;
    align-items: center;
}

.des2 {
    display: flex;
    align-items: center;
}

.des3 {
    display: flex;
    align-items: center;
}

.des4 {
    display: flex;
    align-items: center;
}