<hr/>
  <div class="iced">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Iced Coffee with Milk
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ic1">
        <img src="assets\images\ic1.png" alt="Iced Coffee w/ Milk">
        <p>Coffee Enthusiast® Iced Coffee is made from our custom blend of beans grown to steep long and cold for a super-smooth flavor.</p>
      </div>
      </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="iced">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Honey Almondmilk Iced Coffee
        </mat-panel-title>
      </mat-expansion-panel-header>
    <div class="ic2">
      <img src="assets\images\ic2.png" alt="Honey Almondmilk Iced Coffee">
      <p>Coffee Enthusiast® Honey Almondmilk is lightly sweetened with honey and topped off with almondmilk for a balanced taste of energy throughout.</p>
    </div>
      </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="iced">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Iced Honey Almondmilk Flat White
        </mat-panel-title>
      </mat-expansion-panel-header>
    <div class="ic3">
      <img src="assets\images\ic3.png" alt="Iced Honey Almondmilk Flat White">
      <p>Iced Honey Almondmilk Flat White is intentionally made with almondmilk and Coffee Enthusiast® Espresso Roast poured over ice with a hint of honey—creates a perfect amount of cool, creamy, nutty sweetness.</p>
    </div>
      </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="iced">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Caramel Frappuccino
        </mat-panel-title>
      </mat-expansion-panel-header>
    <div class="ic4">
      <img src="assets\images\ic4.png" alt="Caramel Frappuccino">
      <p>Coffee Enthusiast® Caramel syrup meets coffee, milk and ice for a rendezvous in the blender, while whipped cream and buttery caramel sauce layer the love on top.</p>
    </div>
      </mat-expansion-panel>
  </mat-accordion>
</div>



