<div class="container">
    <div class="company">
        <img src="assets\images\logo.png" alt="Company Logo">
        <h2>{{company}}</h2>
    </div>

    <hr/>
    <h1>{{ title }}</h1>

    <div class="about">
        <p>
            Coffee Enthusiast is a coffee place where you can get flavorful coffee and have a chat with other coffee enthusiasts, at the same time. It offers
            a unique and friendly coffee house environment. We are a place where you can sit down and enjoy your all-time favorite cup of coffee, either alone or 
            with friends. We have a seating area created specifically for you, if you need to work. We also have a soft-seating area in front of a stone fire place
            if you need a little rest. We offer variety of delicious coffees made by our professionally trained baristas. We look forward to serving you at Coffee
            Enthusiast! 
        </p>

        <br> <hr> <br>
        <h1>History</h1>
        <div class="history">
            <img src="assets\images\about2.png" alt="">
            <p>
                Founded in 2020, Coffee Enthusiast is a workshop and coffee shop where we hand roast high quality and ethically sourced coffee. <br> <br>
                Through research and experience we are able to adjust the roast profile for each type of coffee bean, so we can bring out the best flavours and aromas of each varietal, processing method and origin. <br> <br>
                Our ambition is to inspire and educate people on the world of coffee and make the process more transparent for everyone. <br> <br>
                We love what we do and we want to share it with everybody. <br> <br>
            </p>
        </div>

        <br> <hr> <br>
        <div class="otherInfo">
            <div class="location">
                <img src="assets\images\location.png" alt="location"> <br>
                <p class="parag">
                    Located at Cebu City, Ayala Center Cebu, Main Branch.
                </p>
            </div>
            <br>

            <div class="phone">
                <img src="assets\images\phone.png" alt="phone"> <br>
                <p class="parag">
                   Contact us at 032 383 4639 or +639266628462.
                </p>
            </div>

            <br>
            <div class="hours">
                <img src="assets\images\hours.png" alt="hours"> <br>
                <p class="parag">
                   Opens daily from 9:00 AM - 10:00 PM.
                </p>
            </div>

        </div>
    </div>
    <br><br><br><br><br>
</div>