<hr/>
  <div class="tea">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bergamot Herb Tea
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="t1">
        <img src="assets\images\t1.png" alt=" Bergamot Herb Tea">
        <p>Coffee Enthusiast® Bergamot Herb Tea is a combination of a strong black tea base and with the addition of bergamot essence, a citrus fruit with subtle lemon and floral lavender notes.</p>
      </div>
      </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="tea">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Grey Tea Latte
        </mat-panel-title>
      </mat-expansion-panel-header>
    <div class="t2">
      <img src="assets\images\t2.png" alt="Grey Tea Latte">
      <p>Coffee Enthusiast® Grey Tea Latte with vanilla syrup, hot water, steamed milk and foam.</p>
    </div>
      </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="tea">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Jasmine Herbal Tea
        </mat-panel-title>
      </mat-expansion-panel-header>
    <div class="t3">
      <img src="assets\images\t3.png" alt="Jasmine Herbal Tea">
      <p>Coffee Enthusiast® Jasmine Herbal Tea mixed with hot water, steamed lemonade and a touch of honey mingle tastefully well together for a tea that comforts from the inside out.</p>
    </div>
      </mat-expansion-panel>
  </mat-accordion>
</div>




