<body>
    <div style="text-align: left">
        <h1>{{title}}</h1>
        <h2>TAKE A SIP, WITH FRIENDS.</h2>
        <p>Coffee Enthusiast is a coffee place where you can get <br> flavorful coffee and have a chat 
         with other <br> coffee enthusiasts, at the same time.</p>
        
         <button 
            type="button" 
            id="orderBtn" 
            class="btn btn-outline-danger" 
            (click)="goToProducts()"
            >Take a tour!</button>

    </div>
</body>
